* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #fafafa;
}

.container {
  height: 400px;
  margin: 100px 200px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.city-input {
  appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  border: 1px solid rgb(136, 136, 136);
  /* margin-right: 10px; */
  text-transform: capitalize;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.temp {
  font-size: 90px;
  margin: 0;
}

.weather-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-icon img {
  width: 150px;
}

.search-btn {
  appearance: none;
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
}

.search-btn:hover {
  background-color: #eee;
}

.search-btn:active {
  scale: 0.95;
}

.humidity,
.wind-speed,
.temp-hi-low {
  font-size: 18px;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .container {
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .weather-info {
    justify-content: center;
    flex-direction: column;
  }
}
